body
  color: $dark-primary
  font-family: $serif
  line-height: 1.75

h1
  h1()

h2
  h2()

h3
  h3()

h4
  h4()

h5
  h5()

h6
  h6()

h1,h2,h3,h4,h5,h6
  font-family: $sans-serif
  text-transform: uppercase

p
  font-size: rem(16px)
  margin: 0 0 1.5em


a
  link: $orange