
// Color Palette
$red                   = #CD4655
$brown = $dark-primary = #433E36
$yellow                = #F3C131
$orange                = #DF804E
$light-gray            = #EDEBE6
// greens
$light-green           = #D7E2C9
$mint                  = #99CABA
$dark-green            = #3E8941
$bright-green          = #93BA2F
// blue+purple
$dark-purple           = #6457A6
$light-purple          = #7D7ABC
$blue                  = #3296DB
// b+w
$black                 = #000000
$white                 = #ffffff


// Typography
$serif                 = 'Cardo', serif
$sans-serif            = 'Montserrat', sans-serif


// Box Model
$box-model             = true


// Breakpoints
$tablet-breakpoint      = 45em
$desktop-breakpoint     = 60em
$hd-breakpoint          = 70em



// Opacity
// Example Usage: .opacity(50%);
opacity(opacity = 0.5)
  opacity: opacity


// CSS Transitions + Animations
transition(prop = all, speed = 0.3s)
  transition: prop speed

// Animations
// Example Usage .animation(1s);
animate(duration = 1s)
  animation-duration: duration
  animation-fill-mode: both



// Animation Delay
// Example Usage .animation-delay(1s)
animate-delay(delay = 1s)
  animation-delay: delay



// CSS Transitions
// Example Usage .transition(0.3s)
transition(prop= all, speed = 0.3s)
  transition: prop speed



// Transition Delay
// Example usage .transition-delay(.3s)
transition-delay(speed = 0.3s)
  transition-delay: speed

