extends ../_layout

block vars
  - var page='contact'
  - var pageTitle = 'Contact'

block content

  //- .orange.spacer.is-upper
  //-   .border
  //-     p &nbsp;

  .Slope__left.Slope__content--over.cv
    article.Slope__left--fix
      .container.animate.fade-in-up
        //- .grid.small-grid--full
        //-   .grid-cell
        //-     h1.text-center Curriculum Vitae
        //-     .grid.white.circles
        //-       .circle
        //-       .circle
        //-       .circle
        //-       .circle
        //-       .circle

        .grid.grid-column
          .grid-cell.text-center
            h2 Noreen Naseem Rodriguez
            h3.title.italics.
              PhD Candidate
              <br>
              Social Studies Education
              <br>
              Department of Curriculum &amp; Instruction
              <br>
              The University of Texas at Austin
        .grid.grid-column--small.large-grid--guttersLg
          .grid-cell
            h4 Personal Summary
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, quo, fuga. Laudantium quaerat accusamus aspernatur nemo itaque a labore ut, totam quidem, earum laboriosam modi eaque odio id iure, et.

          .grid-cell
            h4 Education
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, quo, fuga. Laudantium quaerat accusamus aspernatur nemo itaque a labore ut, totam quidem, earum laboriosam modi eaque odio id iure, et.
        


          
