extends _layout

block content
  .slope-left.slope-over.bio
    article.slope-left-fix
      .container
        .grid.small-grid--full
          .grid-cell.text-center
            img(src="img/nnr-profile.jpg", alt="i am noreen").img-profile.is-medium
          .grid-cell.--3of4
            h3 Hi!
            p.
              I am a doctoral candidate in Social Studies Education in the Department of Curriculum &amp; Instruction at the University of Texas at Austin.  My areas of interest are exploring the relationship between teacher and cultural identity among Asian American and Latin@ pre- and in-service teachers; citizenship; immigration; adding counternarratives to the curriculum; and teaching against Islamophobia.  In addition to my work in social studies I am pursuing a graduate portfolio in Asian American Studies.
            p.button-group
              a.button.is-large.is-mint(href="#") BIO 
              a.button.is-large.is-gray(href="#") CV