extends ../_layout

block content
  .purple.spacer.is-upper
    .border
      p &nbsp;

  .Slope__left.Slope__content--over.publications
    article.Slope__left--fix
      .container.animate.fade-in-up
        .grid.small-grid--full
          .grid-cell.text-center
            h1 Publications          
            .grid.purple.circles
              .circle
              .circle
              .circle
              .circle
              .circle
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, magni natus ab deserunt, odio quae assumenda! Aliquid earum nostrum in distinctio aperiam ipsam illum, vero nihil voluptate quisquam, minima dolores.
        

        .grid.grid-gutters.grid-margins--large.small-grid--full
          .grid-cell.cell--1of2
            h2 Presentations
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore vel unde ut, modi praesentium fuga laborum iure dolorem explicabo.
            a(href="").button.is-gray.is-large More
          
          .grid-cell.cell--1of2
            h2 Latino History
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore vel unde ut, modi praesentium fuga laborum iure dolorem explicabo.
            a(href="").button.is-gray.is-large More

          .grid-cell.cell--1of2
            h2 Asian American History
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore vel unde ut, modi praesentium fuga laborum iure dolorem explicabo.
            a(href="").button.is-gray.is-large More

          .grid-cell.cell--1of2
            h2 Trade Books
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore vel unde ut, modi praesentium fuga laborum iure dolorem explicabo.
            a(href="").button.is-gray.is-large More

