/*
----------------------- SITE NAV ---------------------- */
nav
  font-size: rem(14px)


/*
----------------------- SLOPE CONTAINER + SLOPES + FIXES ---------------------- */
.slope-container
  padding-top: 200px

.slope-left
  margin: 0 -6em
.slope-right
  margin: 0 -6em
  
//------------------ SLOPE FIXES
.slope-left-fix
  width: 100%
.slope-right-fix
  width: 100%
