/*
----------------------- SITE NAV ---------------------- */
nav
  font-size: rem(14px)


/*
----------------------- SLOPE CONTAINER + SLOPES + FIXES ---------------------- */
.Slope-container
  padding-top: 200px

.Slope__left
  margin: 0 -6em
.Slope__right
  margin: 0 -6em
  
//------------------ SLOPE FIXES
.Slope__left--fix
  width: 100%
.Slope__right--fix
  width: 100%
