block vars
doctype html
html
  head
    title #{pageTitle}
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description' content="meta desc")
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet", type="text/css", href="css/main.css")

  body

    button.menu-button.stacked.hide-desktop
      .menu
        .bar
        .bar
        .bar



    header
      .container
        .grid.grid--center
          .grid-cell
            h1.logo.
              Noreen
              <br>
              Naseem
              <br>
              Rodriguez
          nav.grid-cell
            ul.grid.grid-column--small.uppercase
              li
                a(href="/") Bio
              li
                a(href="resources.html") Resources
              li
                a(href="publications.html") Publications
              li
                a(href="") CV
              li
                a(href="contact.html") Contact



    section.slope-container
      block content
      .quotes
        article
          .container
            .grid
              .grid-cell
                p.font-bold.
                  Go and make interesting mistakes, make amazing mistakes, make glorious and fantastic mistakes. Break rules. Leave the world more interesting for your being here. 
                p <span class="right"> - Neil Gaiman</span>



    footer.site-footer

      //- put your content here
      .container

        .grid
          nav.grid-cell
            ul.grid.grid--justifyCenter.uppercase
              li
                a(href="/") Bio
              li
                a(href="resources.html") Resources
              li
                a(href="publications.html") Publications
              li
                a(href="") CV
              li
                a(href="contact.html") Contact
          

        .grid.grid--center
          .grid-cell
            p linkedin
          .grid-cell
            p twittern
          .grid-cell
            p google
          .grid-cell
            h1.logo.text-right.
                Noreen
                <br>
                Naseem
                <br>
                Rodriguez

        p.text-right All information written or curated by Noreen unless otherwise expressed.

    script(src="https://cdnjs.cloudflare.com/ajax/libs/cash/1.3.0/cash.min.js")
    script(type="text/javascript", src="js/main.js")
